.header {
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
}


.header_links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.link {
    text-decoration: none;
    color: black;
}

.active {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
}


.styles.link:hover {
    cursor: pointer;
}

.container_user {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.user_icon {
    width: 40px;
}


@media screen and (max-width: 768px) {
    .header_links {
        display: none;
    }
}